body {
  text-align: center;
}

body {
  background-color:black;
  color: green;
}




 button {
  background-color: black; /* Blue */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Optional rounded corners */
}

